@tailwind base;
@tailwind components;
@tailwind utilities;

.parallelogram-left {
    width: 100px;
    height: 110px;
    transform: skew(14deg);
}

.parallelogram-right {
    width: 100px;
    height: 110px;
    transform: skew(166deg);
}

.snl-log-bot {
    width: auto;
    height: 100%;
}

.team-logo {
    height: 95%;
    width: auto;
}

.bans-text {
    width: auto;
    height: 110px;
}

.left-ban-1 {
    left: 4.8rem;
}

.left-ban-2 {
    left: 11.8rem;
}

.left-ban-3 {
    left: 18.8rem;
}

.left-ban-4 {
    left: 28.4rem;
}

.left-ban-5 {
    left: 35.4rem;
}

.right-ban-1 {
    right: 4.8rem;
}

.right-ban-2 {
    right: 11.8rem;
}

.right-ban-3 {
    right: 18.8rem;
}

.right-ban-4 {
    right: 28.4rem;
}

.right-ban-5 {
    right: 35.4rem;
}