
.snl-logo-bot {
    width: auto;
    height: 100%;
}

.team-logo {
    height: 95%;
    width: auto;
}

.center-top{
    background-position: top 10% center;
}

.mt-small-logo {
    margin-top: 0.15rem;
}
/* 
=====================
    TIMER & SCORE
=====================
*/
.timer-left {
    z-index: 10;
    width: 25%;
    height: 100%;
    transform: skew(14deg);
    background-color: #A7A8A6;
}

.timer-right {
    z-index: 10;
    width: 25%;
    height: 100%;
    transform: skew(166deg);
    background-color: #A7A8A6
}

.score-box {
    background-color: #1D1E1E;
    width: 21%;
    height: 9.76rem;
    margin-left: 10rem;
}

.score-box-inner {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* 
=============
    BANS 
=============
*/
.ban-box {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.ban-god-icon-left {
    width: 300px;
    height: 100%;
    margin-left: -14px;
    filter: grayscale(80%);
    transform: skew(-14deg);
}

.ban-god-icon-right {
    width: 150%;
    height: 100%;
    margin-left: -37px;
    filter: grayscale(80%);
    transform: skew(14deg) scaleX(-1);
}

.flippy {
    transform: scaleX(-1);
}

.bans-left {
    width: 100px;
    height: 110px;
    transform: skew(14deg);
}

.bans-right {
    width: 100px;
    height: 110px;
    transform: skew(-14deg);
}

.bans-text {
    width: auto;
    height: 110px;
}

.left-ban-1 {
    left: 4.8rem;
}

.left-ban-2 {
    left: 12rem;
}

.left-ban-3 {
    left: 19.2rem;
}

.left-ban-4 {
    left: 29.4rem;
}

.left-ban-5 {
    left: 36.2rem;
}

.right-ban-1 {
    right: 4.8rem;
}

.right-ban-2 {
    right: 12rem;
}

.right-ban-3 {
    right: 19.2rem;
}

.right-ban-4 {
    right: 29.4rem;
}

.right-ban-5 {
    right: 36.2rem;
}

/* 
==================
    FULLSCREEN
==================
*/
@media all and (display-mode: fullscreen) {
    .mt-small-logo {
        margin-top: 0.6rem;
    }

    .score-box {
        height: 11.24rem;
    }

    .score-box-inner {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .ban-box {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/* 
=================
    GOD CARDS
=================
*/
.hover {
    filter: grayscale(80%);
    opacity: 70%;
}

.locked {
    filter: grayscale(0%);
    transition: width 1s ease-in-out;
}

.achilles {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.agni {
    background-size: cover;
    margin-top: -4.5rem;
    transform: scaleX(1.01) scaleY(1.01) rotate(-23deg);
}

.ah-muzen-cab {
    background-size: cover;
    margin-top: -4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ah-puch {
    background-size: cover;
    margin-top: -2.8rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.amaterasu {
    background-size: cover;
    margin-top: -0.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.anhur {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.anubis {
    background-size: cover;
    margin-top: -0.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ao-kuang {
    background-size: cover;
    margin-top: -3.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.aphrodite {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.apollo {
    background-size: cover;
    margin-top: -1.9rem;
    margin-left: 0.3rem;
    transform: scaleX(1.16) scaleY(1.16);
}

.arachne {
    background-size: cover;
    margin-top: -0.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ares {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.artemis {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.artio {
    background-size: cover;
    margin-top: -3.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.athena {
    background-size: cover;
    margin-top: -0.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.awilix {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.baba-yaga {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.07) scaleY(1.07);
}

.bacchus {
    background-size: cover;
    margin-top: -1.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.bakasura {
    background-size: cover;
    margin-top: -0.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.baron-samedi {
    background-size: cover;
    margin-top: -1.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.bastet {
    background-size: cover;
    margin-top: -0.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.bellona {
    background-size: cover;
    margin-top: -3.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.cabrakan {
    background-size: cover;
    margin-top: -5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.camazotz {
    background-size: cover;
    margin-top: -6.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.cerberus {
    background-size: cover;
    margin-top: -2.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.cernunnos {
    background-size: cover;
    margin-top: -5.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.chaac {
    background-size: cover;
    margin-top: -3.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.change {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.chernobog {
    background-size: cover;
    margin-top: -0.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.chiron {
    background-size: cover;
    margin-top: -2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.chronos {
    background-size: cover;
    margin-top: -1.9rem;
    transform: scaleX(1.16) scaleY(1.16);
}

.cthulhu {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.cu-chulainn {
    background-size: cover;
    margin-top: -6.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.cupid {
    background-size: cover;
    margin-top: -6.3rem;
    transform: scaleX(1) scaleY(1);
}

.daji {
    background-size: cover;
    margin-top: -1.7rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.danzaburou {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.discordia {
    background-size: cover;
    margin-top: -0.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.erlang-shen {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.eset {
    background-size: cover;
    margin-top: -3.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.fafnir {
    background-size: cover;
    margin-top: -6rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.fenrir {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.freya {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ganesha {
    background-size: cover;
    margin-top: -0.4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.geb {
    background-size: cover;
    margin-top: -6rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.gilgamesh {
    background-size: cover;
    margin-top: -2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.guan-yu {
    background-size: cover;
    margin-top: -2.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.hachiman {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.hades {
    background-size: cover;
    margin-top: -5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.he-bo {
    background-size: cover;
    margin-top: -3.4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.heimdallr {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.hel {
    background-size: cover;
    margin-top: -0.4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.hera {
    background-size: cover;
    margin-top: -3.4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.hercules {
    background-size: cover;
    margin-top: -1.9rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.horus {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.hou-yi {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.hun-batz {
    background-size: cover;
    margin-top: -9rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.izanami {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.janus {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.jing-wei {
    background-size: cover;
    margin-top: -1.9rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.jormungandr {
    background-size: cover;
    margin-top: -4rem;
    transform: scaleX(1.05) scaleY(1.05);
}

.kali {
    background-size: cover;
    margin-top: -1.7rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.khepri {
    background-size: cover;
    margin-top: -5rem;
    transform: scaleX(1.05) scaleY(1.05);
}

.king-arthur {
    background-size: cover;
    margin-top: -5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.kukulkan {
    background-size: cover;
    margin-top: -9rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.kumbhakarna {
    background-size: cover;
    margin-top: -2.8rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.kuzenbo {
    background-size: cover;
    margin-top: -7.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.loki {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.medusa {
    background-size: cover;
    margin-top: -3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.mercury {
    background-size: cover;
    margin-top: -4rem;
    transform: scaleX(1) scaleY(1);
}

.merlin {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.mulan {
    background-size: cover;
    margin-top: -1.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ne-zha {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.neith {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.nemesis {
    background-size: cover;
    margin-top: -3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.nike {
    background-size: cover;
    margin-top: -4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.nox {
    background-size: cover;
    margin-top: -0.7rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.nu-wa {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.odin {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.olorun {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.osiris {
    background-size: cover;
    margin-top: -3.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.pele {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.persephone {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.poseidon {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.ra {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.raijin {
    background-size: cover;
    margin-top: -2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.rama {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.ratatoskr {
    background-size: cover;
    margin-top: -9rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ravana {
    background-size: cover;
    margin-top: -3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.scylla {
    background-size: cover;
    margin-top: -6rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.serqet {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.set {
    background-size: cover;
    margin-top: -2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.skadi {
    background-size: cover;
    margin-top: -0.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.sobek {
    background-size: cover;
    margin-top: -3.4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.sol {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.sun-wukong {
    background-size: cover;
    margin-top: -3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.susano {
    background-size: cover;
    margin-top: -1rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.sylvanus {
    background-size: cover;
    margin-top: -5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.terra {
    background-size: cover;
    margin-top: -0.6rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.thanatos {
    background-size: cover;
    margin-top: -2.5rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.the-morrigan {
    background-size: cover;
    margin-top: -2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.thor {
    background-size: cover;
    margin-top: -0.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.thoth {
    background-size: cover;
    transform: scaleX(1.1) scaleY(1.1);
}

.tiamat {
    background-size: cover;
    margin-top: -14rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.tsukuyomi {
    background-size: cover;
    margin-top: -3.2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.tyr {
    background-size: cover;
    margin-top: -1.3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ullr {
    background-size: cover;
    margin-top: -0.7rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.vamana {
    background-size: cover;
    margin-top: -3rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.vulcan {
    background-size: cover;
    margin-top: -3.8rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.xbalanque {
    background-size: cover;
    margin-top: -2.4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.xing-tian {
    background-size: cover;
    margin-top: -6rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.yemoja {
    background-size: cover;
    margin-top: -2rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.ymir {
    background-size: cover;
    margin-top: -3.5rem;
    transform: scaleX(1.3) scaleY(1.3);
}

.zeus {
    background-size: cover;
    margin-top: -4rem;
    transform: scaleX(1.1) scaleY(1.1);
}

.zhong-kui {
    background-size: cover;
    margin-top: -3.1rem;
    transform: scaleX(1.1) scaleY(1.1);
}